<div class="container">
    <div class="row">
        <div class="col-md-4">
          <img src="<%= @github[:profile_picture_url]%> " class="img-thumbnail">
        </div>
        <div class="col-md-8">
          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Overview</a></li>
            <li role="presentation"><a href="#">Repositories <span class="badge"><%= @github[:public_repo_count] %> </span></a></li>
            <li role="presentation"><a href="#"> Following <span class="badge"><%= @github[:following_count] %> </span> </a></li>
            <li role="presentation"><a href="#"> Followers <span class="badge"><%= @github[:follower_count]%> </span> </a></li>
          </ul>
          
        </div>
    </div>
</div>


 
      
<div class="container">
    <div class="row">
        <div class="col-md-4">
           <h3> <%= @user.name %></h3>
           <h6><%= @user.nickname %></h6> 
           <h6><%= @github[:summary] %> </h6>
           </br>     
           <h4>Organizations</h4>
            <% @github_organizations.each do |organization| %>
                <img src = "<%= organization[:avatar_url]%>" height="40">
            <% end %>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-8">
            <h3>Recent commits</h3>
                <ul class="list-group">
                    <% @github_activity.each do |commits| %>
                        <% commits.each do |commit| %>
                                <li class="list-group-item">
                                    <%= commit[:message].capitalize %>
                                </li>
                        <% end %>
                    <% end %>
                </ul>
        </div>
    </div>
</div>


<h2>A list of my repositories</h2>

<% @repos.each do |repo| %>
    <%= repo.name %>
    <%= repo.description %>
<% end %>



<h1>Create a repository</h1>
<%= link_to "Create a repository", new_repository_path %>







